
  
  .cardLoadings {
    display: flex;

  }
 
  
  .cardLoading.is-loading {
    width: 250px;
    height: 300px;
    .image,
    h2,
    p{
      background: #000000;
      background: linear-gradient(103deg, #000000 8%, #040024 29%, #252525 56%, #000000);
      border-radius: 5px;
      background-size: 600% 100%;
      animation: 8s shine linear infinite;
      animation-direction: alternate;
    }
  
    .image {
      height: 200px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    h2 {
      height: 30px;
    }

  }
  
  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }
  